.franchiseicon {
  max-width: 100%;
  min-width: 75px;
  height: auto;
}

.homepagemodule.report th {
  white-space: nowrap;
}

.homepagemodule.report .divwlt {
  display: none;
}
.homepagemodule.report .strk {
  display: none;
}

.homepagecolumn #standings h3,
.homepagecolumn #brief_standings h3,
.homepagecolumn .homepagemodule caption {
  padding-top: inherit;
  padding-bottom: inherit;
  background-color: #FFF;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-align: left;
  font-size: 24px;
  color: #1d4b7e;
}
/*Standings*/

td#division00,
td#division01,
td#division02,
td#division03,
td#division04,
td#division05,
td#division06,
td#division07 {
  color: #315d7f;
  border-bottom: 4px solid #ddd;

}
#body_standings td#division00,
#body_standings td#division01,
#body_standings td#division02,
#body_standings td#division03,
#body_standings td#division04,
#body_standings td#division05,
#body_standings td#division06,
#body_standings td#division07 {
    padding: 6px 0px 2px;
}
.homepagecolumn td#division00,
.homepagecolumn td#division01,
.homepagecolumn td#division02,
.homepagecolumn td#division03,
.homepagecolumn td#division04,
.homepagecolumn td#division05,
.homepagecolumn td#division06,
.homepagecolumn td#division07 {
    padding: 6px 8px 2px;
}

#standings caption {
	display: none;
}
