.reportnavigation.alert-warning, .alert-warning {
    background-color: $alert-warning-bg !important;
    border-color: $alert-warning-border !important;
    color: $alert-warning-text !important;
}
.reportnavigation.alert-info,.alert-info {
    background-color: $alert-info-bg !important;
    border-color: $alert-info-border !important;
    color: $alert-info-text !important;
}

.reportnavigation.alert-success,.alert-success {
    background-color: $alert-success-bg !important;
    border-color: $alert-success-border !important;
    color: $alert-success-text !important;
}

.alert {
    padding: 10px 14px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    display:block;
}