.btn-primary td {
  padding: 0 0 24px;
}

#curr_auctions .btn-primary a {
  border-radius: 5px 5px 5px 5px;
  position: relative;
  top: 10px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $accent-color;
  color: $white;
  display: block;
  text-align: center;
  padding: 15px;
  min-height: 48px;
}

#curr_auctions .btn-primary td {
  padding-top: 0px;
  padding-bottom: 36px;
}

#body_options_43 {
  td[colspan="8"] div {
    width: 100% !important;
  }
  textarea {
    max-width: 246px;
    @media only screen and (min-width: 1200px) {
      max-width: 304px;
    }
  }
}
