#monthly_calendar td,
#monthly_calendar th {
  border-color:$lightgray;
}

#monthly_calendar .eventablerow {
  background-color: $white;
}

#monthly_calendar td.today {
  background-color: $accent-color;
  color: $white;
  border-color:$dark-accent-color;
}

#monthly_calendar td.today {
  .calendarday {
    border-color: $dark-accent-color;
  }
  a:link {
    color: $white;
  }
  a:visited {
    color: $white;
  }
}

#monthly_calendar ul li {
  border-top: 1px solid $lightgray;
}

#monthly_calendar ul li.calendar_event_trade {
  border-bottom-color: $dark-accent-color;
}

#monthly_calendar td.today .calendarday {
  border-color: $dark-accent-color;
  background-color: $dark-accent-color;
  border-bottom-color:$accent-color;
}

#monthly_calendar td .calendarday {
  border-bottom-color:$lightgray;
  border-left-color:$lightgray;
  background-color: $offwhite;
}
