 .container-header {
   background-color: $report-bg;
 }
 
 .st1 {
   display: none;
 }
 
 .st2 {
   fill: transparent;
 }
 
 .st3 {
   fill: $accent-color;
 }
 
 .st4 {
   display: none;
 }
 
 .st5 {
   fill: $white;
 }
 
 .st6 {
   fill: $white;
 }
 
 .leaguename {
   font-family: $headline-font;
   color: $accent-color;
 }
 
 span.leaguename--the {
   color: $icon-text-color;
 }
 
 span.leaguename--dotus {
   color: $icon-text-color;
 }
 
 .nav_buttons .svg-text {
   color: $icon-text-color;
 }
 
 .welcome {
   background: $secondary-color;
   color: $white;
 }
 
 .active.welcome {
   background: $secondary-color;
   color: $white;
 }
 
 .welcome a:link,
 .welcome a:visited {
   color: $white;
 }
