/*   MFL RESPONSIVE TABS
=========================== */

.myfantasyleague_tabmenu {
  font-family: $headline-font;
}

.myfantasyleague_tabmenu ul#homepagetabs {
  border-bottom-color: $primary-color;
}

.myfantasyleague_tabmenu #homepagetabs li {
  border-right-color: $primary-color;
  background-color: $accent-color;
  border-left-color:$primary-color;
  border-top-color:$primary-color;
  border-right-color:$primary-color;
}
.myfantasyleague_tabmenu #homepagetabs li a {
  color: $white;
}
.myfantasyleague_tabmenu #homepagetabs li:hover {
  box-shadow: none;
  background: darken($primary-color, .5);
}
.myfantasyleague_tabmenu #homepagetabs li:hover a {
  color: $white;
}
.myfantasyleague_tabmenu #homepagetabs li.currenttab,
.myfantasyleague_tabmenu #homepagetabs li.currenttab:hover {
  background: $primary-color;
}

/*   MFL RESPONSIVE TABS MOBILE STYLE
======================================= */
@media only screen and (max-width:767px) {
  /*  BASE STYLE FOR ALL SKINS  */
  
  
  .myfantasyleague_tabmenu > label span {
    background: $white;
  }
  
  .myfantasyleague_tabmenu > label span:before {
    background: $primary-color;
  }
  
  .myfantasyleague_tabmenu > label span:after {
    background: $primary-color;
  }
  
  
  .myfantasyleague_tabmenu ul#homepagetabs {
    background: $primary-color;
    border-bottom-color:$primary-color;
  }
  
  .myfantasyleague_tabmenu ul#homepagetabs li a {

    border-top-color:$primary-color;
  }
  
  .myfantasyleague_tabmenu #homepagetabs li.currenttab,
  .myfantasyleague_tabmenu #homepagetabs li.currenttab:hover {
    background: darken($primary-color, .5);
  }
}