body {
  font-family: $body-font;
  color: $primary-text-color;
  background-color: $pagebody-bg;
}

td a,
td a:link,
td a:active,
td a:visited,
td a:focus {
  font-family: $body-font;
}

a:focus,
a,
a:link,
a:active,
a:visited,
a:focus,
th,
th a,
th a:link,
th a:active,
th a:visited,
th a:focus,
h1,
td h1 a:link,
td h1 a:active,
td h1 a:visited,
td h1 a:focus,
h2,
td h2 a:link,
td h2 a:active,
td h2 a:visited,
td h2 a:focus,
h3,
td h3 a,
td h3 a:link,
td h3 a:active,
td h3 a:visited,
td h3 a:focus,
h4,
td h4 a,
td h4 a:link,
td h4 a:active,
td h4 a:visited,
td h4 a:focus,
input[type="button"],
input[type="submit"],
.myfantasyleague_tabmenu,
.myfantasyleague_menu,
caption,
caption a,
caption a:link,
caption a:active,
caption a:visited,
caption a:focus,
.welcome,
.welcome a,
.welcome a:link,
.welcome a:active,
.welcome a:visited,
.welcome a:focus,
#MFLPlayerPopupLinks .popreport td a,
#owner_activity td.franchisename,
.myfantasyleague_tabmenu #homepagetabs li a {
  font-family: $body-font;
}

a:visited {
  color: $link-color;
}

a:link {
  color: $link-color;
}

h2 {
  color: $secondary-color;
}


/*main mfl wrapper*/

.pagebody {
  background-color: $pagebody-bg;
}




.homepagemessage:first-child {
  padding-left: 0;
}

.homepagemessage th {
  color: $alert-warning-text;
  background-color: $alert-warning-bg;
  border: 1px solid $alert-warning-border;

}

table.homepagemessage td {
  background-color: $alert-warning-bg;
  color: $alert-warning-text;
  border-color:$alert-warning-border;
}

caption,
caption span {
  font-family: 'Roboto Slab', serif;
  color: $caption-color;
}

th {
  color: $secondary-color;
}

th a:link,
th a:visited {
  color: $secondary-color;
}

span.reportnavigation {
  border-color:$secondary-menu-border-color;
  background-color: $secondary-menu-bg-color;
  color: $secondary-menu-text-color;
  a:link,
  a:visited {
    color: $secondary-menu-link-color;
  }
}


/*reports*/

.report-wrapper {
  background-color: $report-bg;
}

.report {
  border-bottom-color: 0px solid $lightgray;

}


.report .oddtablerow, .oddtablerow {
  background-color: $oddtablerow;
}

.report .eventablerow, .eventablerow {
  background-color: $eventablerow;
}








.newposition td,
.newposition th {
  border-top-color:$newposition-border-color;
}




/*add drop*/

span#add_name_field_id {
  color: $add-color;
}

span#drop_name_field_id {
  color: $drop-color;
}

#body_add_drop table table div {
  border-color: $border-color !important;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: $report-bg;
}


#add .highlight {
  color: $white;
  background-color: $add-color;
}

#drop .highlight {
  color: $white;
  background-color: $drop-color;
}

.utility-nav {
  background-color: $secondary-menu-bg-color;
  svg {
    fill: $secondary-menu-icon-color;
  }
  .svg-text {
    color: $secondary-menu-text-color;
    b,
    a:link,
    a:visited {
      color: $secondary-menu-text-color;
    }
    .commish-link {
    border-left-color: $secondary-menu-text-color;
    
    }
  }
  a:hover [class^="icon"] {
    fill: $secondary-menu-link-color;
  }
}

textarea#MSG {
  background: $codebg-color;
  color: $white;
}

#body_commissioner_setup {
  table.two_column_layout ul {
    background-color: $report-bg;
  }
}
