#body_commissioner_setup {
  .oddtablerow {
    background-color: transparent;
  }
  .warning {
    display: inline-block;
    padding: 5px 0;
  }
  a:link, a:visited {
    text-decoration: none;
  }
  table.two_column_layout {
    margin: 0
  }
  table.two_column_layout li {
    padding: 0px;
    margin: 0 0 0 18px;
  }
  table.two_column_layout ul {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 4px;
    padding-top: 44px;
  }
  td.two_column_layout th {
    padding-left: 18px;
    padding-top: 18px;
    font-size: 18px;
    position: relative;
    top: 40px;
  }
  td.two_column_layout {
    margin-top: -40px;
  }
  @media (min-width: 992px) {
        td.two_column_layout:nth-child(1) {
            padding: 0px 6px 0 0;
            position: relative;
            left: -3px;
        }
        td.two_column_layout:nth-child(2) {
            padding: 0px 0 0 6px;
            position: relative;
            right: -2px;
        }
    }
}
