.constitution-wrapper h2{
  text-align: left;
  margin: 0 0 12px 0;
  border-bottom: 4px solid;
  padding-bottom: 3px;
}


.constitution-wrapper ul li {
    margin-left: 0;
}

.constitution-wrapper ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}
.constitution-wrapper .emphasize { font-style: italic; }
.constitution-wrapper {font-size:1.2em; display:flexbox;}