/*hides default MFL footer*/

.pagefooter {
    display: none;
}

.container-footer {
    min-height: 16em;
    padding: 24px 0;
    a {
        color: white;
        text-decoration: none;
    }
    ul {
        margin-left: -40px;
        margin-bottom: 24px;
        li {
            margin-left: 0;
            list-style-type: none;
            margin-bottom: 5px;
        }
    }
    .defending-champ {
        font-size: 18px;
        font-weight: bold;
        color: white;
        margin-bottom: 14px;
        a {
            margin-top: 14px;
            display: block;
        }
    }
}
