input[type="button"],
input[type="submit"] {
  padding: 14px 30px;
  margin-bottom: 10px;
  border: 2px solid;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  @media (max-width: 991px) {
    width: 100%;
  }
}

input[type="button"]:hover,
input[type="submit"]:hover {
}

#league_chat input[type="button"] {
  width: 100%;
}

input#chat_text_field {
  width: 100%;
  padding: 8px;
  border: 1px solid;
}

input[type="text"] {}

#body_options_101 input[type="submit"] {
  margin-left: 10px;
}

form.reportform input[type="submit"] {
  margin-left: 5px;
  padding: 12px 30px;
}

//button on current auction page
.btn-primary a,
.btn-primary a:link,
.btn-primary a:visited {
  border-radius: 5px;
  padding: 14px 30px;
  position: relative;
  top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
}


input[type="password"],
input[type="text"] {
    padding: 4px;
    font-size: 1.1em;
    min-width: 100px;
}
select {
    padding: 4px 5px 5px;
    font-size: 1.1em;
}


/*//messageboard cta*/
.mb {
  @media (max-width: 767px) {
    display: none;
  }
  position: relative;
  top: 20px;
  right: 10px;
  a {
    position: absolute;
    right: 0;
    text-decoration: none;
  }
  svg.icon-chevron-right {
    width: 15px;
    height: 15px;
    margin: 0;
    position: relative;
    top: 3px;
  }
}
