#login {
  table[align="center"] table[align="center"] b,
  table[align="center"] table[align="center"] p {
    display: none;
  }
  table[align="center"] table[align="center"] p.form_buttons {
  	display:block;
  }
  .report span.alert.alert-info {
    margin-top: 12px;
  }
}
