#body_options_50,
#body_options_197,
#body_options_70,
#body_options_195,
#body_options_214 {
  .alert {
    margin-top: 12px;
  }
  td.inputlabel {
    vertical-align: top;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    min-width: 200px;
  }
  .report td {
    padding: 12px 12px;
  }
}


