.homepagecolumn #standings h3,
.homepagecolumn #brief_standings h3,
.homepagecolumn .homepagemodule caption {
  background-color: $white;
  font-family: $headline-font;
  color: $primary-color;
}


/*Standings*/

.homepagecolumn #brief_standings h3,
.homepagecolumn #standings h3 {
  color: $primary-color;
  border-bottom-color: $lightgray;
}

#body_standings {
  caption,h3 {

  background-color: $white;
  font-family: $headline-font;
  color: $primary-color;
  }
}
