input[type="button"],
input[type="submit"] {
  background-color: $accent-color;
  border-color:$accent-color;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: $dark-accent-color;
  border-color: $dark-accent-color;
}

input#chat_text_field {
  border-color:$lightgray;
}


form.reportform input[type="submit"] {
  background: $accent-color;
  color: $white;
}

//button on current auction page
.btn-primary a,
.btn-primary a:link,
.btn-primary a:visited {
  background-color: $accent-color;
  color: $white;
}

.btn-primary a:hover {
  background-color: $dark-accent-color;
}
