//////////////////////Colors//////////////////////////

//Main Colors
$primary-color:#1c497c; //Navy Blue

$accent-color:#2e8743;//Green
$dark-accent-color:darken($accent-color, 10%);


$gray1:#333;
$gray2:#666;
$gray3:#999;

$offwhite:#eee;
$offwhite2:#f9f9f9;

$lightgray:#ddd;
$lightgray2:#ccc;
$lightgray3:#aaa;

$white:#fff;

////////////////////////Fonts/////////////////////////////////
$headline-font: 'Roboto Slab';
$body-font: 'Roboto', sans-serif;


////////////////////////Page Backgrounds/////////////////////////////////
$primary-bg-color:$white;
$pagebody-bg: $offwhite2;
$report-bg:$primary-bg-color;

////////////////////////Header BG///////////////////////////////
$header-bg: $report-bg;

////////////////////////Footer BG///////////////////////////////
$footer-bg-color:$primary-color;
$footer-text-color:$white;
$footer-header-text-color:$white;

////////////////////////Text/////////////////////////////////
$primary-text-color:#333;
$secondary-text-color:#333;

////////////////////////Links/////////////////////////////////
$link-color:$primary-color;
$link-color-hover:lighten($primary-color, 5%);

////////////////////////Default Border color/////////////////////////////////
$border-color: #ddd;

////////////////////////MFL Menu/////////////////////////////////
$menu-bg-color:$primary-color;
$menu-bg-hover-color:darken($primary-color, 5%);
$menu-border-color:$primary-color;
$menu-text-color:$white;

////////////////////////Report navigation/////////////////////////////////
$secondary-menu-border-color:$accent-color;
$secondary-menu-bg-color:$accent-color;
$secondary-menu-text-color: $white;
$secondary-menu-link-color: $white;
$secondary-menu-icon-color: $white;
$secondary-menu-icon-hover-color: lighten($secondary-menu-icon-color, 5%);
$secondary-menu-font-weight:normal;

////////////////////////Buttons/////////////////////////////////
$button-bg-color:$accent-color;
$button-bg-color-hover:lighten($button-bg-color, 5%);
$button-link-color:$white;

////////////////////////Captions and Headlines /////////////////////////////////
$caption-color:$primary-color;
$headline-font-color: $caption-color;
$h1-color:$caption-color;
$h2-color:$caption-color;
$h3-color:$caption-color;
$h4-color:$caption-color;
$h5-color:$caption-color;
$h6-color:$caption-color;

////////////////////////Icons/////////////////////////////////
$icon-color:$primary-color;
$icon-color-hover: lighten($icon-color, 5%);
$icon-text-color:$primary-color;

////////////////////////Add/drop/////////////////////////////////
$add-color:green;
$drop-color:red;

////////////////////////Alerts/////////////////////////////////
$alert-danger-text:#a94442;
$alert-danger-bg:#f2dede;
$alert-danger-border:#ebccd1;

$alert-warning-text:#8a6d3b;
$alert-warning-bg:#fcf8e3;
$alert-warning-border:#faf2cc;

$alert-success-text:#3c763d;
$alert-success-bg:#dff0d8;
$alert-success-border:#d0e9c6;

$alert-info-text:#31708f;
$alert-info-bg:#d9edf7;
$alert-info-border:#bcdff1;

////////////////////////Calendar/////////////////////////////////
$calendar-bg-color:$offwhite;
$calendar-eventablerow:$white;
$calendar-border-color:lighten($calendar-bg-color, 1%);
$calendar-text-color:$white;
$today-bg-color:$accent-color;
$today-border-color:lighten($today-bg-color, 1%);
$today-text-color:$white;


////////////////////////Homepage messages/////////////////////////////////
$codebg-color: #31382d;

////////////////////////Table Colors/////////////////////////////////
$oddtablerow:$white;
$eventablerow:#ececec;
$newposition-border-color:$lightgray2;

$table-header-color:$primary-color;

////////////////////////Logo Colors/////////////////////////////////
$logo-main-color: $primary-color;//shield
$logo-secondary-color:$accent-color;//top bg
$logo-3rd-color:$lightgray; //stars
$logo-4th-color:$white; //bottom star
$logo-text-color:$primary-color;
$logo-secondary-text-color:$accent-color;

