  @import "variables_roboto-black-yellow";
  @import "../../_message-board.scss";
body {
    font-family: $body-font;
    color: $primary-text-color;
	background:$report-bg;
}

a:link {
    color: $link-color;
}

a:visited {
    color: $link-color;
}

.feed_item:nth-child(odd) {
    background-color: $oddtablerow;
    border-color:transparent;
}
.feed_item:nth-child(even) {
    background-color: $eventablerow;
    border-color:transparent;
}