.tabbed-reports {  
     border-color: $border-color;
}

.tabbed-reports li {
	color:$white; 
     background-color:$accent-color;
     border-left-color:$accent-color;
     border-right-color:$accent-color;
}

.tabbed-reports li:hover, .tabbed-reports li.active, .tabbed-reports li.current { 
     color:$white; 
     background-color:$dark-accent-color;
} 

