#body_top, #body_options_08 {
    tr.eventablerow.myfranchise {
        background-color:#dbefd3;//; #dcefdc
        color:#2c501e;
    }
    tr.oddtablerow.myfranchise {
        background-color: #f0fff0;
        color:#2c501e;
    }
    tr.oddtablerow.myfranchise a{
        color:#2c501e;
    }
    tr.eventablerow.myfranchise a{
        color:#2c501e;
    }
  }
